.cardComponentWithoutBadge{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 0;
}
.mainCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.priceTag {
    padding-left: 0;
    font-size: 18px;
    font-weight: 600;
}
.prices {
    padding-left: 0;
    margin-left: 0.5rem;
    
}
.foodTitle {
    font-size: 1rem;
    font-weight: 600;
}
.cardComponentWithBadge{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 0;
    position: relative;
    z-index: 1;
}
.cardComponentWithBadge::after{
    content: "";
    background-color: #F17228;
    border-radius: 0px 7px 0px 20px !important;
    position: absolute;
    width: 50px;
    height: 27px;
    top: 15px;
    right: 15px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
    z-index: 2;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.discount_percentage {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 3;
    color: white;
    font-size: 1rem;
    font-weight: 600    ;
}

@media (max-width: 768px){
    .cardComponent:nth-child(3){
        display: none;
    }
    .cardComponent:nth-child(4){
        display: none;
    }
}
