.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0 auto;
    border-left: 8px solid hsl(22, 88%, 55%);
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}
.seeMoreButton {
    background-color: #F17228;
    color: white;
    border-radius: 20px ;
    border-color: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    height: 100%;
}
.rightArrow {
    font-size: 2rem;
}
.title {
    margin-bottom: 0;
}
@media (max-width:767px){
    .onWeb {
        display: none;
    }
    .seeMoreButton {
        background-color: white;
        color: #F17228;
        font-size: 1.5rem;
        height: 20px;
    }
    .mainDish:nth-child(3){
        display: none;
    }
    .mainDish:nth-child(4){
        display: none;
    }


}
@media (min-width:768px) and (max-width:992px){
    .onWeb {
        display: none;
        
    }
    .seeMoreButton {
        background-color: white;
        color: #F17228;
    }
}
@media (min-width:993px){
    .seeMoreButton {
        padding: 5px 25px;
    }
    .title {
        font-size: 14px ;
        font-weight: 700;
    }
    .onWeb {
        font-size: 1.1rem;
        margin-bottom: 0;
        font-weight: 600;
    }
    .rightArrow {
        font-size: 1rem;
        padding: 0;
        
    }
}