
footer{
    position: absolute;
    bottom: 0px;
    background-image: url('../images/Footer_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}

.row{
    margin-left: 0px !important;
}


footer p{
    font-size: 14px;
    font-weight: 600;
}

footer h4{
    font-size: 14px;
    font-weight: 700;
}

.footer_icon{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }


  .social{
      padding-bottom: 14px;
  }

  .copyright{
      text-align: right;
  }

  .textW400{
      font-weight: 400;
  }


  @media screen and (min-width: 740px){
    .privacy_policy p{
        font-size: 12px !important;
    }
    .footer_bottom_section{
        border-top: #fff solid 1px;
    }
    
  }
@media screen and (max-width : 739px) {
    .social{
        border-bottom: #fff solid 1px;
    }
}
