


/* 
.form-general{
    font-family: 14px;
    font-weight: 400;
} */


form{  
    position: absolute;
    width: 80%;
    height: 40px;
    top: 250px;
    margin: 0 auto;
}

.form-control{
    background: #FFFFFF;
    border: 1px solid #F17228 !important;
    box-sizing: border-box;
    border-radius: 10px !important;
}

