


/* 
.form-general{
    font-family: 14px;
    font-weight: 400;
} */


form .container{
    font-size: 14px;
}

.container{
    margin: 0 auto;
}


.form-control{
    background: #FFFFFF;
    border: 1px solid #F17228 !important;
    box-sizing: border-box;
    border-radius: 10px !important;
}


@media  screen and (max-width: 767px) {
    .container{
        width: 100%;
        max-width: 335px;
    }
}

@media  screen and (min-width: 768px) and (max-width: 992px) {
    .container{
        width: 100%;
        max-width: 335px;
    }
}