.Background_img {
    background-image: url(../../public/images/Info_panel/Background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 240px;
    position: relative;
    z-index: 0;
    
}
.Background_img::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.Info_box {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: lefts;
}
.Info_box h2 {
    font-size: 14px;
}
.Info_box p {
    font-size: 12px;
}