.mainDish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0 auto;
    border-left: 8px solid hsl(22, 88%, 55%);
}
.mainDishButton {
    background-color: #F17228;
    color: white;
    border-radius: 20px ;
    border-color: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    height: 100%;
}
.rightArrow {
    font-size: 2rem;
}
.title {
    margin-bottom: 0;
}
@media (max-width:768px){
    .onWeb {
        display: none;
    }
    .mainDishButton {
        background-color: white;
        color: #F17228;
        font-size: 1.5rem;
        height: 20px;
    }
}
@media (min-width:769px) and (max-width:991px){
    .onWeb {
        display: none;
    }
    .mainDishButton {
        background-color: white;
        color: #F17228;
    }
}
@media (min-width:992px){
    .mainDishButton {
        padding: 3px 15px;
    }
    .title {
        font-size: 14px ;
        font-weight: 700;
    }
    .onWeb {
        font-size: 16px;
        margin-bottom: 0;
    }
    .rightArrow {
        font-size: 1.5rem;
        padding: 0;
    }

}