
.orangeFont{
     color: #F17228 !important;
}
.adminLogo{
    width: 13px;
    height: 14px;
    left: 86.5px;
    top: 8px;
    text-decoration: none;
}
.button{
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    position: static;
}
.basketLogo{
    width: 16px;
    height: 14px;
    top: 8px;
    left: 9.5px;
    text-decoration: none;
}
.menu{
    margin: 0px 10px;
}
.fooddelivery{
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    width: 126px;
    height: 30px;
    left: 5px;
    top: 5px;
    margin: 0px 10px;
}
.searchForm{
    width: 235px;
    height: 32px;
    top: 12px;
    left: 882px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}
