.first-div{
    position: relative;
}
.deliveryLogo{
    position: absolute;
    left: 8.33%;
    
}
.foodDelivery{
    color: #F17228;
}
.orangeFont{
    color: #F17228;
    text-decoration: none;
}
