#search-input{
    background-color: #fff;
    transition: width 2s, height 2s, transform 2s;
    border-radius: 10px;
    border: 1px solid #F17228;
    position:absolute;
    right: 0;
    margin-top: 0;

    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: linear;
}
#search{
    position: relative;
}
#no-item-in-search{
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;  
}

@media screen and (max-width: 767px) {

    #search-input{
        width: 15px;
    }
    #search-input:hover{
        width: 50vw;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }


    .breadcrumb{
        font-size: 12px;
        width: 35% !important;
    }

    
}
@media (min-width: 768px) and (max-width: 991px) {
    #search-input{
        width: 15px;
    }
    #search-input:hover{
        width: 50vw;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }
    .breadcrumb{
        width: 25% !important;
        font-size: 14px;
    }
}

/* Breadcrumb separator */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #F17228
}
.breadcrumb{
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: #F17228;
    border: 1px solid #F17228;
    border-radius: 20px;
    padding: 0.25rem 1rem;
    margin-left: 1rem;
    width: 15%;
}
.breadcrumb .active{
    color: black;
}