
.submenu .active{
    background-color: #f17228 ;
    color: white !important;
}
.submenu{
    overflow: auto !important;
    white-space: nowrap !important;
    flex-wrap: nowrap !important;
}
.menuu{
    text-decoration: none;
    color: #f17228 !important;
    font-weight: 700 !important;
    border: #f17228 1px solid !important;
    border-radius: 15px !important;
    padding: 10px 20px !important;
}